@font-face {
    font-family: 'Glory';
    src: url('./fonts/Glory/Glory-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
    background: #0A0523 url(./stardewbackground.png) no-repeat fixed center center / cover;
    font-family: 'Glory';
    font-family: 'Glory';
    font-size: 20px;
    font-weight: 200;
}
h1{
    color: white;
}
table, td {
    border-collapse: collapse;
    border: 1px solid black;
    background-color: rgba(255,255,255,0.68);
}
th{
    border-collapse: collapse;
    border: 1px solid black;
    background-color: #03a007;
    color: white;
}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
}
